MONGO_URI=mongodb://mongodb:27017
MONGO_DB=teddy_resume_analyzer
HF_MODEL=google/flan-t5-small
USE_LOCAL_LLM=false
LOG_LEVEL=INFO
GEMINI_API_KEY=sua_chave_de_api_do_gemini_aqui
GEMINI_MODEL=gemini-2.5-flash
USE_CROSS_ENCODER_RERANK=true